.headerBg {
    // position: fixed;
    background-attachment: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; 
    background-image: linear-gradient(to bottom, rgba(34, 34, 34, 0.7), rgba(0, 0, 0, 0) 35%, rgba(0, 0, 0, 0) 40%, rgba(34, 34, 34, 0.7)), url('/src/assets/images/onlineGallery/no-info(4).JPG');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.1s linear;
  }

   div.darken-effect{
    opacity: 0.8;
  }

  div.darken-effect-max{
    opacity: 0.55;
  }

  div.blur-effect{
    filter: blur(6px);
    opacity: 0.55;
  }
