.dropdown-toggle::after {
  display: none !important;
}
.drop-down-parent{
  position: relative;
  margin: 0;

.language-select{
  position: relative;
  display: flex;
  align-items: center;
  gap: 11px;
  z-index: 69;
  border: none;
  appearance: none;
  background: transparent;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
  transition: all 0.4s linear;
  color: #fff;
  font-family: var(--nunito);
  cursor: pointer;
  letter-spacing: 1px;
    margin: 0;
    padding: 0;


  .menu-text{
    position: relative;
      margin: 0;
      padding: 0;
      display: flex;
  align-items: center;
          &::after {
          content: '';
          position: absolute;
          left: 0;
          bottom: 0px;
          width: 100%;
          height: 1px;
          background-color: #D3D3D3;
          transform: scaleX(0);
          transform-origin: left;
          transition: transform 0.1s ease;
        }
        &:hover::after {
          transform: scaleX(1);
        }

  }

     

  .nav-icon{
    display: flex;
  align-items: center;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    border: none;
    padding: 0;
    background: none;
    transition: all 0.4s linear;
      margin: 0;
  }

  .nav-icon-scrolled{
    color: var(--dark);
    margin: 0;
    padding: 0;
  }

      &:hover .menu-text::after,
      &:hover .menu-text {
        transform: scaleX(1);
      }
}

.l-menu-dropdown{
  position: absolute;
  left: -10% !important;
  top: 10px !important;
  min-width: unset !important;  
  width: max-content; 
  padding: 10px 15px;

  .l-menu-text {
            font-size: 1.1rem;
            font-weight: 500;
            position: relative;
            color: var(--dark);
            font-family: var(--nunito);
            cursor: pointer;
            letter-spacing: 1px;
            text-underline-offset: 3px;
            display: flex;
            justify-content: center;
            &:hover{
              text-decoration: underline;
              background-color: #fff;
            }
  }

}

.dropdown-item:active,
.dropdown-item.active,
.dropdown-item:focus,
.dropdown-item:focus-visible {
  background-color: transparent !important;
  color: inherit !important;
}

.language-select-scrolled{
  color: var(--dark);
  margin: 0;
    padding: 0;
}
.language-select div.menu-text-scrolled::after{
  background-color: #696969;
}

}