.Parallax{
    width: 100%;
    height: 50svh;
    background: linear-gradient(to bottom, rgba(34, 34, 34, 0.7), rgba(0, 0, 0, 0) 35%, rgba(0, 0, 0, 0) 40%, rgba(34, 34, 34, 0.7)), url(/src/assets/images/onlineGallery/Labihovuz_Bure-L_1909.JPG);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}