.PagesHeader{
    height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    overflow: hidden;
    position: relative;
}

.PagesWhatsnew{
    position: absolute;
    bottom: 7%;
    transition: all 0.4s linear;
    h1.titleBig{
        display: block;
        font-family: var(--montserrat);
        font-weight: 400;
        font-size: 3.3rem;
        color: #fff;
        text-transform: capitalize;
        width: 97%;
    }
    h2.title{                                //title
        display: block;
        font-family: var(--nunito);
        color: #fff;
        font-size: 0.9rem;
        font-weight: 800;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-bottom: 20px;
        margin-left: 5px;
    }
}


section.PageAbout{
    width: 100%;
    background-color: #fff;
    padding: 4rem 0;
    z-index: 1;
    position: relative;
    .pagesSubtitle{
        font-size: 1.8rem;
        line-height: 1.15;
        font-weight: 700;
        font-family: var(--nunito);
    }
    h4{
        display: block;
        font-family: var(--nunito);
        color: var(--almostDark);
        font-size: 0.9rem;
        font-weight: 800;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-bottom: 1rem;
        margin-left: 20px;
    }
    h3{
        display: block;
        font-family: var(--nunito);
        color: var(--almostDark);
        font-size: 0.9rem;
        font-weight: 800;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-bottom: 1rem;
        margin-left: 20px;
    }
    .margintop{
        margin-top: 2rem;
    }
    .margintopS{
        margin-top: 3rem;
    }
    .margintopM{
    margin-top: 1rem;
    }
    .text{
        color: var(--almostDark);
        font-size: 1.1rem;
        font-weight: 300;
        font-family: var(--inter);
        letter-spacing: 0;
        text-indent: 20px;
        line-height: 1.6rem;
        span{
            font-weight: 500;
        }
        a{
            color: var(--almostDark);
            text-underline-offset: 3px;
        }
    }
    .firstColumn{
        display: flex;
        flex-direction: column;
    }
    .photoGal{
        width: 100%;
        height: 20svh;
        background-image: linear-gradient(to bottom, rgba(34, 34, 34, 0.3), rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 50%, rgba(34, 34, 34, 0.3)), url("/src/assets/images/tracery.jpeg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 1.5rem 0 3rem;
    }
    .photoFirstFloor{
        width: 100%;
        height: 20svh;
        background-image: linear-gradient(to bottom, rgba(34, 34, 34, 0.3), rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 50%, rgba(34, 34, 34, 0.3)), url("/src/assets/images/FirstFloor.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 1.5rem 0 3rem;
    }
    .photoConceptRoom{
        width: 100%;
        height: 20svh;
        background-image: linear-gradient(to bottom, rgba(34, 34, 34, 0.3), rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 50%, rgba(34, 34, 34, 0.3)), url("/src/assets/images/Room.jpg");
        background-position: 0;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 1.5rem 0 3rem;
        
    }
    .creditsKamola{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: end;
    }
    .nbuCollection-image1{
        width: 100%;
        height: 30svh;
        background-image: linear-gradient(to bottom, rgba(34, 34, 34, 0.3), rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 50%, rgba(34, 34, 34, 0.3)), url("/src/assets/images/exhibitions/2025/nbuCollection/IMG_1634.JPG");
        background-position: 0;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 1.5rem 0 3rem;
    }
        .nbuCollection-image2{
        width: 100%;
        height: 30svh;
        background-image: linear-gradient(to bottom, rgba(34, 34, 34, 0.3), rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 50%, rgba(34, 34, 34, 0.3)), url("/src/assets/images/exhibitions/2025/nbuCollection/IMG_1643.JPG");
        background-position: 0;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 1.5rem 0 3rem;
    }
}

