section.Contact{
    iframe{
        height: 100%;
    }
    a{
        display: block;
        text-decoration: none;
        &:hover{
            text-decoration: underline;
        }
    }
    .timetable{
        display: flex;
        justify-content: space-between;
    }
    .dflex{
        display: flex;
    }
        
}

section.japan{
    .text{
        text-indent: 0px;
    }
    h4, h3{
        margin-left: 0;
    }
}