@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap');  //logo

:root{
    --background: #fff;
    --dark: #000;
    --almostDark: #333;
    --almostLight: #e2dbd4;
    --footerLight: #bababa;
    --title: "Roboto", sans-serif;
    --montserrat:"Montserrat", sans-serif;
    --logo: "Space Grotesk", sans-serif;
    --inter: "Inter", sans-serif;
    --nunito: "Nunito Sans", sans-serif;
}
:root {
    --container-width: 100%; /* Значение по умолчанию для маленьких экранов */
  }
  
  @media (min-width: 576px) {
    :root {
      --container-width: 540px;
    }
  }
  
  @media (min-width: 768px) {
    :root {
      --container-width: 720px;
    }
  }
  
  @media (min-width: 992px) {
    :root {
      --container-width: 960px;
    }
  }
  
  @media (min-width: 1200px) {
    :root {
      --container-width: 1140px;
    }
  }
  
  @media (min-width: 1400px) {
    :root {
      --container-width: 1320px;
    }
  }

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    font-style: italic;
    background-repeat: no-repeat;
    background-size: cover;
}

.app-container{
    overflow-x: hidden;
}



  .loading-container {
    align-items: center;
    background-color: #fff;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100vw;
  }

.lds-ring {
  /* change color here */
  color: var(--footerLight)
}
.lds-ring,
.lds-ring div {
  box-sizing: border-box;
}
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 5px solid currentColor;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: currentColor transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}



html.lenis {
    height: auto;
  }
  .lenis.lenis-smooth {
    scroll-behavior: auto;
  }
  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }
  .lenis.lenis-stopped {
    overflow: hidden;
  }

