.PagesHeader{
    z-index: 2;
    height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: #000;
    overflow: hidden;
}

.PagesWhatsnew{
    z-index: 10;
    position: absolute;
    bottom: 7%;
    transition: all 0.4s linear;
    h1.btext{
        display: block;
        font-family: var(--montserrat);
        font-weight: 500;
        font-size: 2.3rem;
        color: #fff;
        text-transform: capitalize;
    }
}

section.PlanVisit{
    width: 100%;
    .VisitorInfo{
        height: 700px;
        width: 100%;
        display: flex;
        background: var(--dark);
        .img{
            width: 50%;
            height: 100%;
            overflow: hidden;
            img{
                object-fit: cover; 
                object-position: center;
                max-width: 100%;
                height: 100%;
                background-repeat: no-repeat;
                filter: brightness(80%);
            }
        }
        .info{
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            padding: 6rem 4rem;                         //change this in media
            .info-content{
                display: flex;
                flex-direction: column;
                .title{
                font-family: var(--nunito);
                color: #fff;
                font-size: 0.9rem;
                font-weight: 800;
                text-transform: uppercase;
                letter-spacing: 2px;
                padding-bottom: 1rem;
                border-bottom: 2px solid var(--almostDark);
                }
                .info-text{
                    display: flex;
                    color: var(--footerLight);
                    justify-content: space-between;
                    padding-top: 0;
                    margin-top: 0.5rem;
                    .category{
                        width: 70%;
                        display: flex;
                        flex-direction: column;
                        border-right: 1px var(--almostDark) solid;
                        
                        .text{
                            width: 80%;
                            display: flex;
                            align-items: center;
                            color: var(--footerLight);
                            font-size: 1rem;
                            font-weight: 300;
                            font-family: var(--inter);
                            letter-spacing: 0;
                            line-height: 1.6rem;
                        }
                    }
                    .price{
                        width: 30%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        .text{
                            display: flex;
                            align-items: center;
                            color: var(--footerLight);
                            font-size: 1rem;
                            font-weight: 400;
                            font-family: var(--inter);
                            letter-spacing: 0;
                            line-height: 1.6rem;
                        }
                        
                    }
                }
            }
            .margintop{
                margin-top: 2rem;
            }
            .margintopL{
                margin-top: 1.5rem;
            }
        }
    }
}

section.Tour{
    width: 100%;
    background-color: #fff;
    padding: 6rem 0;
    h3.title{
        display: block;
        font-family: var(--nunito);
        color: var(--almostDark);
        font-size: 0.9rem;
        font-weight: 800;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-bottom: 1rem;
        margin-left: 20px;
    }
    .text{
        color: var(--almostDark);
        font-size: 1.1rem;
        font-weight: 300;
        font-family: var(--inter);
        letter-spacing: 0;
        text-indent: 20px;
        line-height: 1.6rem;
    }
    .table{
        width: 50%;
        .firstrow{
            width: 100%;
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid var(--almostDark);
            margin-bottom: 1rem;
            &:last-child{
                margin-bottom: 0;
            }
            .text{
                text-indent: 0;
                &:last-child{
                    font-weight: 500;
                }
            }
        }
    }
    .tour{
        margin-top: 5rem;
    }
    .photographing{
        margin-top: 5rem;
    }
}

section.Prices{
    width: 100%;
    padding: 0 0 5rem;
    h3.title{
        display: block;
        font-family: var(--nunito);
        color: var(--almostDark);
        font-size: 0.9rem;
        font-weight: 800;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-bottom: 1rem;
        margin-left: 20px;
    }
    .text{
        color: var(--almostDark);
        font-size: 1.1rem;
        font-weight: 300;
        font-family: var(--inter);
        letter-spacing: 0;
        text-indent: 20px;
        line-height: 1.6rem;
    }
    .margintop{
        margin-top: 2rem;
    }
}

section.map{
    width: 100%;
    padding: 5rem 0;
    h3.title{
        display: block;
        font-family: var(--nunito);
        color: var(--almostDark);
        font-size: 0.9rem;
        font-weight: 800;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-bottom: 1rem;
        margin-left: 20px;
    }
    .text{
        color: var(--almostDark);
        font-size: 1.1rem;
        font-weight: 300;
        font-family: var(--inter);
        letter-spacing: 0;
        text-indent: 20px;
        line-height: 1.6rem;
        margin-bottom: 2rem;
        span{
            font-weight: 400;
        }
    }
    iframe{
        width: 100%;
        height: 450px;
    }
}

